# .pre-commit-config.yaml
default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: pretty-format-json
        args:
          - --autofix
      - id: detect-aws-credentials
        args:
          - --allow-missing-credentials
      - id: detect-private-key
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.88.4
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
      - id: terraform_docs
      - id: terraform_validate
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 3.2.60
    hooks:
      - id: checkov
        verbose: false
        args:
          - --download-external-modules
          - "true"
          - --quiet
          - --compact
          - --skip-check
          - CKV_GIT_5,CKV_GLB_1,CKV_TF_1
          - --skip-path
          - examples/*
