---
name: Terraform

on:
  pull_request:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  terraform-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@master
      - name: Terraform Format
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: latest
          tf_actions_subcommand: fmt
          tf_actions_comment: true

  terraform-validate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [ ., ./modules/avm, ./modules/security_hub ]
    steps:
      - name: Check out code for ${{ matrix.module }}
        uses: actions/checkout@master
      - name: Terraform Init
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: latest
          tf_actions_subcommand: init
          tf_actions_comment: true
          tf_actions_working_dir: ${{ matrix.module }}
      - name: Terraform Validate for ${{ matrix.module }}
        uses: hashicorp/terraform-github-actions@master
        env:
          AWS_DEFAULT_REGION: eu-west-1
          GITLAB_TOKEN: 1
          O365_GROUP_ID: 13474e33-5fb3-4567-b1ef-d11585d29c0d  # This is a random UUID
        with:
          tf_actions_version: latest
          tf_actions_subcommand: validate
          tf_actions_comment: true
          tf_actions_working_dir: ${{ matrix.module }}


  terraform-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.ref }}
        continue-on-error: true # added this to prevent a PR from a remote fork failing the workflow
      - name: Update module usage docs and push any changes back to PR branch
        uses: Dirrk/terraform-docs@v1.0.8
        with:
          tf_docs_args: '--sort-inputs-by-required'
          tf_docs_git_commit_message: 'terraform-docs: Update module usage'
          tf_docs_git_push: 'true'
          tf_docs_output_file: README.md
          tf_docs_output_method: inject
          tf_docs_find_dir: .
        continue-on-error: true # added this to prevent a PR from a remote fork failing the workflow

  tfsec:
    name: tfsec
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@master
      - name: Terraform security scan
        uses: triat/terraform-security-scan@v2.0.2
